<h1>New Meeting</h1>

<%= form_tag(meetings_url, method: 'post') do %>
  <div>
    <%= label_tag :held_on %><br />
    <%= text_field_tag :held_on %>
  </div>
  
  <div>
	<select name="course_id">
		<% @courses.each do |course| %>
			<option value= <%= course["id"] %> > <%= course["title"] %> </option>
		<% end %>
	</select>
  </div>

  <div>
    <%= submit_tag "Create Meeting" %>
  </div>
<% end %>
